*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    font-size: 62.5%;
    background-color: gray;   
}

/* recomendacion, siempre usar width al 100%, ya que esta se ajusta al contenedor padre */

img{
    width: 100%;

}