/* Hace referencia de html y aqui se acomodan las variables */
/* las variables inician con doble guion medio '--' y despues el nombre de la variable */
/* para utilizar las variables, simplemente se deben colocar con 'var(nombre variable)' */
:root{
--primary-color:#003476;
--secondary-color:#b4d2f7;
--header-size: 4rem;
--font: 1.8rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Avenir Next,Muli,sans-serif;
}
html{
    font-size: 62.5%;
    background-color: gray;   
}

header{
    width: 100vw;
    height: 15vh;
    background-color: var(--primary-color);
}

main{
    width: 100vw;
    height: 70vh;
    font-size: var(--font);
}

h1{
    font-size: var(--header-size);
    color: var(--primary-color);
}

footer{
    width: 100vw;
    height: 15vh;
    background-color: var(--secondary-color);
}