*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    background: gray;
}
main{
    padding-top: 20px;
}
/* Especificidad: es el orden en que el navegador carga los estilos en el siguiente orden:
1- !important -  Se usa al final y siempre da prioridad a cargar (MALA practica)
2- inyeccion en html - el estilo se escribe dentro del codigo HTML (MALA practica)
3- #id - cuando se aplica un ID a algun elemento del html, estos id son UNICOS y no se pueden volver usar
4- .class - Este se puede reciclar y repetir sin conflictos
5- <tag> - aplica para todos los tags, pero es el menos importante*/
/* ============================================================= */
/* CASO TITULO DE PAG */
h1{
    color:blue;
    font-family: serif; /*NO lo utiliza el navegador*/
    margin-bottom: 10px;
    font-size: 20px; /*NO lo utiliza el navegador*/
 }

#page-title{
    font-family:Arial, Helvetica, sans-serif;/*Prioridad para el navegador*/
    font-size: 40px; /*Prioridad para el navegador*/
}
/* CASO TITULO DE PAG */
/* ============================================================= */
#main-nav{
    margin-top: 10px;
    list-style:none;
    padding-left: 0px;
}
/* aqui indica todas las etiquetas <li> que se encuentre dentro de la classe main-nav, se le aplicaran estilos */
#main-nav li{
    display: inline-block; /*Los elementos los acomoda en UNA sola linea*/
}

#main-nav a{
    background-color:rgb(0, 162, 255);
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

/* agregamos estilos al elemento que contenga el id #main-nav y clase .modificar */
#main-nav .modificar{
    background-color: orange;
}

/* ES RECOMENDABLE SOLO UTILIZAR CLASES Y ETIQUETAS PARA CREAR ARCHIVOS CSS */
/* MALAS PRACTICAS, inyeccion de style en HTML y uso del !important. Uso execisvo de IDs*/
/* BUENAS PRACTICAS, Uso de clase o varias clases, tags junto con clases, pseudoelementos y tratar de evitar el uso de ID # */